<ion-header>
  <ion-navbar text-center color="navBar">
   <ion-buttons start class="iconTooble">
    <button class="menu" ion-button menuToggle="leftMenu" icon-only>
     <ion-icon name="menu"></ion-icon>
    </button>
   </ion-buttons>
   <ion-title class="text-center">
    Nuevo comprobante electrónico
   </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="fondoStrongWhite">
  <div class="fondoContenedor">
    <div class="goBack">
        <button ion-button icon-only clear class="btnAtrasNegro" (click)=goback()>
          <ion-icon name="ios-arrow-back"></ion-icon> Atras
        </button>
    </div>
    
    <ion-card>
      <div class="titleCard">
        <h2><ion-icon name="car"></ion-icon> Comprobante de pago electrónico</h2>
        <p>El pago se debe realizar en efectivo.</p>
      </div>    
      <ion-card-content>
        <div class="note-form">(*) Campos obligatorios</div>
        <form [formGroup]="form">
          <!-- ion-item>
            <ion-label color="dark">Codigo cuadra*</ion-label>
            <ionic-selectable modalCssClass="ionic-selectable-documentation-configuration"
              item-content
              formControlName="cod_manzano"
              [items]="manzanos"
              itemValueField="id_manzano"
              itemTextField="concat"
              searchPlaceholder="Buscar"
              closeButtonText="Cancelar"
              [canSearch]="true"
              closeButtonSlot="end"
            >
            </ionic-selectable>
          </!-ion-item -->
          <ion-item>
            <ion-label floating color="dark">Codigo cuadra*</ion-label>
            <ion-select [compareWith]="compareIdTiempo" formControlName='cod_manzano' interface='popover' color='dark' (ionChange)="selectCuadra()">
              <ion-option *ngFor='let cuadra of manzanos' [value]='cuadra.id_manzano'>{{cuadra.concat | uppercase}}
              </ion-option>
            </ion-select>
          </ion-item>
          <p class="txtCuadra">{{ micuadra }}</p>

          <ion-item>
            <ion-label floating color="dark">Estacionamiento *</ion-label>
            <ion-select [compareWith]="compareIdTiempo" formControlName='tiempo_select' interface='popover' color='dark'
              (ionChange)="datosComplementarios()">
              <ion-option *ngFor='let tiempo of tiempos' [value]='tiempo'>{{tiempo.tiempo | uppercase}}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating color="dark">Nro. de placa *</ion-label>
            <ion-input type="text" class="form-controll" (ionChange)="changeInput($event)" formControlName="placa"
            (ionInput)="buscarTexto($event)" required></ion-input>
          </ion-item>
          <div class="lista-matricula"  [hidden]="!resultsAvailable">
            <p>Seleccione una placa si es la indicada.</p>
            <ion-list>
              <ion-item (click)="selected(item)" *ngFor="let item of items">{{ item.placa }}</ion-item>
            </ion-list>
          </div>

          <div [hidden]="!showDatos">
            <ion-item class="item-background-color">
              <ion-grid>
                <ion-row>
                  <ion-col col-6 class="no-padding">
                    Monto Total:
                  </ion-col>
                  <ion-col col-6 class="no-padding text-end">
                    <strong>{{miPago}}</strong>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <div [hidden]="!showTimeExt">
              <ion-item class="ion-no-padding ion-no-margin">
                <ion-label position="floating" class="form-label">Tiempo de extención *</ion-label>
                <ion-input type="text" class="form-controll" formControlName="t_alargue" style="text-transform:uppercase;" disabled></ion-input>
              </ion-item>
            </div>
          
            <ion-item class="item-background-color ion-no-padding">
              <ion-label position='floating'>Hora inicio *</ion-label>
              <ion-datetime displayFormat="HH:mm" formControlName="hr_inicio" disabled></ion-datetime>
            </ion-item>
            <ion-item class="item-background-color ion-no-padding">
              <ion-label position='floating'>Hora fin *</ion-label>
              <ion-datetime displayFormat="HH:mm" formControlName="hr_fin" disabled></ion-datetime>
            </ion-item>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col  col-1>
              </ion-col>
              <ion-col  col-10>
                <button ion-button round color="yellow" full (click)="generarPago()" [disabled]="!form.valid">Registrar</button>
                <button ion-button round color="pink" full (click)="printBoleta()" [disabled]="!objImprimir">Imprimir</button>
              </ion-col>
              <ion-col  col-1>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
