page-reporte-talonario {
    .titleCard {
        background-color: #482778;
        margin: 0px;
        padding: 10px 15px;
    }
    .titleCard h2{
        color: white;
        text-align: initial;
        font-size: 17px;
        font-weight: 500;
        margin: 0px;
    }
    .titleCard p {
        color: #f18721;
    }
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 1px solid #dedede !important;
    }
    ion-item {
        padding-left: 0px !important;
    }
    .txt-mitotal {
        color: #ae1857;
        font-size: 18px;
        background-color: #f9b154;
        padding: 0px 5px;
        font-weight: 600;
    }
    // body
    .cardOptions {
        border-radius: 8px;
        box-shadow: 2px 2px 5px #75777d;
        margin-bottom: 7px;
    }
    .cardOptions .titleOption {
        background-color: #6d56a0;
        color: white;
        padding: 5px;
        text-align: center;
        border-radius: 8px 8px 0px 0px;
    }
    .cardOptions .bodyOption {
        padding: 10px;
        font-size: 14px;
    }
    
    .cardOptions .bodyOption ion-icon{
        font-size: 24px;
    }
    .cardOptions .bodyOption .activoHeart {
        color: #482778;
    }
    .txtQuindo {
        display: contents;
        color: #ae1857;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .txtAmarillo {
        display: contents;
        color: #f18721;
        font-size: 16px;
        font-weight: 600;
    }
    .rowColor {
        background-color: #ece9f3;
    }
    .txtVentas {
        display: contents;
    }
}
