page-servicios-engrampador {
    .txtFecha {
        color: #ad1e58;
    }
    .buscador {
        margin-top: 0px;
        padding-right: 5px;
    }
    .listaPlacas .titleCard{
        background: linear-gradient(60deg, #482778, #6d56a0 );
        padding: 10px;
        color: #f9b154;
    }
    .listaPlacas .titleCard h2 {
        color: white;
        font-size: 16px;
    }
    .listaPlacas .titleCard p {
        color: #f18721;
        font-size: 13px;
        padding: 0px;
    }
    .listaPlacas ion-card-content{
        font-size: 14px;
        color: #3c3c3b;
        padding: 10px 15px;
    }
    .listaPlacas ion-button {
        font-size: 13px;
        padding: 0px;
        margin: 0px;
    }
    .contMensaje {
        background-color: white;
        padding: 10px;
        box-shadow: 2px 2px 5px #75777d;
        color: #3f4340;
    }
    ion-searchbar {
        input {
          border-radius: 30px !important;
        }
    }
}
