<ion-header>
  <ion-navbar text-center color="navBar">
   <ion-buttons start class="iconTooble">
    <button class="menu" ion-button menuToggle="leftMenu" icon-only>
     <ion-icon name="menu"></ion-icon>
    </button>
   </ion-buttons>
   <ion-title class="text-center">
    Verficar placa
   </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="fondoStrongWhite">
  <div class="fondoContenedor">
    <div class="goBack">
      <button ion-button icon-only clear class="btnAtrasNegro" (click)=goback()>
        <ion-icon name="ios-arrow-back"></ion-icon> Atras
      </button>
    </div>    
    <div class="text-end">
      Fecha: <div class="txtPink">{{ toDay }}</div>
    </div>
    <ion-grid>
      <form [formGroup]="form">
        <ion-row>
          <ion-col col-12 class="no-padding">
            <p>Ingrese el número de su placa.</p>
            <ion-searchbar formControlName="num_placa" class="no-padding buscador" placeholder="Intruzca una placa" (ionChange)="bucarPlaca()">
            </ion-searchbar>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
    <div class="contMensaje" *ngIf="mensaje != ''">
      <ion-icon name="information-circle"></ion-icon>
      {{ mensaje }}
    </div>
    <div class="listaPlacas">      
      <div *ngIf="showplaca == true">
        <div *ngIf="placas.length > 0">
          <div *ngFor="let item of placas">
            <ion-card class="ion-no-padding">
              <div class="titleCard">
                <h2>Placa {{ item.placa }}</h2>
                <p>Codigo: {{ item.direccion }}</p>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="no-padding">
                    Hora inicio: <strong>{{ item.hora_inicial }}</strong>
                  </ion-col>
                  <ion-col class="no-padding">
                    Hora fin: <strong>{{ item.hora_final }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="no-padding">
                    Monto:
                    <strong class="txtFecha">{{ item.monto }} Bs.</strong>
                  </ion-col>
                  <ion-col class="no-padding">
                    Estado: <strong>{{ item.estado }}</strong>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="no-padding">
                    Tipo registro:
                    <strong
                      [ngStyle]="{ color: getColor(item.tipo_registro) }"
                      >{{ item.tipo_registro }}</strong
                    >
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
